// -------------------------------COLORS VARIABLES-------------------------------------------

$brand-eblue: #3871ff;
$brand-cdblue: #318dd2;
$brand-cdorange: #e2a38a;
$type-heading: #0e1c35;
$type-body: #505050;
$type-disable: #afafaf;
$states-green: #0bbd29;
$states-red: #e6654f;
$states-grey: #f8f9fb;
$general-white: #fff;
$general-bg-blue: #eaf4fb;
